    /*HOME PAGE, HEADERS, BACKGROUNDS ETC */
* {
            margin: 0;
            padding: 0;
        }

    body {
        font-family: verdana, sans-serif;
        line-height: 1.6;
        color: #86705a;
        background-color: #e0dad0;
    }

    header {
        background: #614343;
        color: rgb(255, 255, 255);
        padding: 20px 0;
    }

    header h1 {
        font-size: 50px;
        margin-bottom: 1px;
        font-weight: 300;
        letter-spacing: 2px;
        text-align: center;
    }

    header p {
        font-size: 20px;
        font-style: italic;
        text-align: center;
    }

    nav {
        background-color: #664a4a;
        padding: 20px 0;
    }

    nav ul {
        list-style: none;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0 2rem;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 17px;
        padding: 20px 15px;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: #553a3a;
    }

    .container {
        margin: auto;
        text-align: center;
        padding: 20px;
    }

    .beginning {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

    .beginning-image {
        margin: 20px auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    }

    .mission-section {
        display: flex;
        flex-direction: column;
    }

    .mission-section h2 {
        color: #86705a;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .mission {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mission-section h2,.feedback h2 {
        color: #86705a;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .mission-image {
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
    }

    .feedback {
        display: flex;
        flex-direction: column;
    }

    .notes {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .feedback:last-child {
        margin-bottom: 0;
    }

    .notes p {
        font-style: italic;
        margin-bottom: 1rem;
        color: #86705a;
    }

    .feedback .author {
        font-weight: bold;
        color: #86705a;
        font-style: normal;
    }

    .service-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 10px;
    }

    /*SERVICES PAGE */

    .service-card {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
    }

    .service-card:hover {
        transform: translateY(-5px);
    }

    .service-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
        margin: 20px 10px;
    }

    .service-image {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
    }

    .service-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .service-content {
        padding: 15px;
    }

    .service-content h3 {
        color: #86705a;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .service-content p {
        margin-bottom: 10px;
        text-align: center;
    }

    .price {
        font-weight: bold;
        color: #86705a;
        font-size: 18px;
        margin: 5px;
    }

    .btn {
        display: inline-block;
        padding: 10px 15px;
        background-color: #867c67;
        color: white;
        text-decoration: none;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: #553a3a;
    }

    /*SERVICE PAGES */

    .service-detail {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    }

    .service-detail h2 {
        color: #86705a;
        margin-bottom: 30px;
        font-size: 30px;
    }


    .treatment-options {
        margin: 30px 0;
    }

    .treatment-options h3 {
        color: #86705a;
        margin-bottom: 30px;
        font-size: 24px;
    }

    .treatment-options ul {
        list-style-position: inside;
        padding-left: 10px;
    }

    .treatment-options li {
        margin-bottom: 10px;
    }

    .treatment-options p {
        margin-bottom: 10px;
    }

    /*APPOINTMENT PAGE */

    #appointment h2 {
    text-align: center;
    color: #86705a;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    }

    form {
        background-color: white;
        padding: 25px 50px;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        border: 2px solid #cec6b6;
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 20px;
        color: #86705a;
        font-weight: bold;
    }

    input, select, textarea {
        width: 100%;
        padding: 15px;
        border: 2px solid #cec6b6;
        border-radius: 5px;
        font-family: inherit;
        font-size: 15px;
    }

    input:focus, select:focus, textarea:focus {
        outline: none;
        border-color: #86705a;
    }

    .form-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    button[type="submit"] {
        background-color: #867c67;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        font-size: 15px;
    }

    button[type="submit"]:hover {
        background-color: #553a3a;
    }

/* SITE MAP PAGE */

    .sitemap, .credits {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 30px;
            width: 50%;
            margin: 30px auto;
    }

    .sitemap h2, .credits h2 {
        color: #86705a;
        margin-bottom: 20px;
    }

    .sitemap ul, .credits ul {
        list-style: none;
        padding-left: 10px;
    }

    .sitemap li, .credits li {
        margin-bottom: 15px;
    }

    .sitemap a, .credits a {
        color: #86705a;
        text-decoration: none;
        font-weight: bold;
        text-decoration: underline;
    }

    .sitemap a:hover, .credits a:hover {
        color: #553a3a;
        text-decoration: underline;
    }


    footer {
        background-color: #614343;
        color: white;
        text-align: center;
        padding: 40px 0;
        margin-top: 50px;
    }

    @media (max-width: 768px) {
        .form-row, .home-content {
            grid-template-columns: 1fr;
        }
    }
